.buttonContainer{
    box-sizing: border-box;
    z-index: 2;
    width: 400px;
    padding: 20px 16px 20px 16px;
    border-radius: 20px;
    border: solid rgba(208, 208, 208, 0.9) 1px;
    margin: 20px 0px 0 0px;
    transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    &:hover{
        border: solid white 1px;
    }
    @media (max-width:411px) {
        width: 360px;
    }
    @media (max-width:393px) {
        width: 300px;
    }
    @media (max-width:315px) {
        width: 230px;
    }
    .content{
        font-size: 1.1rem;
        transition: all 0.2s;
        
    }
}